<div class="navbar">

  <!-- LEFT -->
  <div class="nav-left">
    <div class="logo">TreasurySight</div>
  </div>


  <!-- MENU -->
  <div class="nav-menu">
    <a [routerLink]="['/dashboard']" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }" >Dashboard</a>
     <a [routerLink]="['/prevision']" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }" >Marché & Prédiction</a>
    <a [routerLink]="['/events']" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">Échéances</a>
    <a [routerLink]="['/transaction']" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }" >Transactions</a>
    <a [routerLink]="['/analytics-clients']" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">Analyse Clients</a>

  </div>

  <!-- RIGHT -->
  <div class="nav-right">
    <span class="icon">&#128100;</span>
  </div>

</div>
